:root {
  --main-color: hsl(25, 76%, 31%);
  --main-color-lite:hsla(25, 76%, 31%, 0.747);
}

body {
  font-family: "Roboto Mono";
  margin-left: 150px;
  margin-right: 150px;
  color: var(--main-color);
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.container {
  margin: auto;
}

.nav {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.nav-item {
  margin-left: 10px;
  margin-right: 10px;
}

.banner {
  padding-bottom: 10px;
}

.banner-img-border {
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 200px;
  background-color: #bbb;
  border-radius: 50%;
  border-style: solid;
  display: block;
}

.banner-title {
  text-align: center;
  font-size: 2rem;
}

.banner-text{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 450px;
}

.team {
  margin-top: 10px;
}

.team-title {
  font-size: 2rem;
  text-align: center;
}

.team-section {
  /* Flexbox */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /*justify-content: space-around;*/
  justify-content: center;
}

.team-section-box {
  /* subject to change */
  border-style: solid;
  border-radius: 15px;
  color: var(--main-color-lite);
  width: 100px;
  height: 150px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-left: 10px ;
  margin-right: 10px;
}

.team-section-box-nickname {
  text-align: center;
  font-size: 1.25rem;
  color: var(--main-color);
}

.team-section-box-asset {
  margin-left: auto;
  margin-right: auto;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.pokemon-list {
  /* Flexbox */
  display: flex;
  flex-direction: column;
}

.pokemon-list-item {
  /* Flexbox */
  display: flex;
  /* style */
  border-style: solid;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.pokemon-list-item-asset {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  margin-bottom: auto;
  margin-top: auto;
  margin-left: 10px;
  margin-right: 10px; 
}

.pokemon-list-item-text {
  display: flex;
  flex-direction: column;
  margin-left: 20px
}

.pokemon-list-item-text-nickname {
  font-size: 1.35rem;
  font-weight: bold;
}

.pokemon-list-item-text-description {
  font-size: 1rem;
  color: var(--main-color-lite)
}

.posts-section { 
}

.posts-item {  
  font-size: 1.5rem;
}


/* Everything related to user generated content */

.content-section {
  display: flex;
  flex-direction: column;

}

.title {
  font-size: 2rem;
}

.subtitle {
  font-size: 1.5rem;
}

.text {
  font-size: .8rem;
}

@media all and (max-width: 750px) {
  body {
    margin-left: 5;
    margin-right: 5;
  }
}
