:root {
  --white: hsl(0, 0%, 99%);
  --dark: hsl(213, 33%, 21%);
  --coralred: hsl(358, 100%, 67%);
}

html, html[data-theme="light"] {
  --background-color: rgb(252, 252, 252);
  --text-color: hsl(213, 33%, 21%);
  --text-color-fade: hsla(213, 33%, 21%, 0.900);
  --opposite-background-color: hsl(213, 33%, 21%);
  --opposite-text-color: rgb(252, 252, 252);
}

html[data-theme="dark"] {
  --background-color: hsl(213, 33%, 21%);
  --text-color: hsl(0, 0%, 99%);
  --text-color-fade: hsl(0, 0%, 99%, 0.800);
  --opposite-background-color: rgb(252, 252, 252);
  --opposite-text-color: hsl(213, 33%, 21%);
}

body {
  margin: 0px;
  font-family: raleway;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: all 0.2s;
}

a {
  color: inherit;
}

nav {
  position: sticky;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
}

::selection {
  background: var(--coralred);
  color: var(--white);
}

.feather {
  width: 32px;
  height: 32px;
  stroke: currentColor;
  stroke-width: 1.25;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.is-red{
  color: var(--coralred);
}

.darkmode-icon {
  position: absolute;
  top: 20%;
  right: 2%;
}

.navbar-container {
  margin-left: 100px;
  margin-right: 100px;
}

.navbar-item {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 1.1rem;
}

.navbar-item:hover {
  text-decoration: underline;
  color: var(--coralred);
}

.navbar-item, .navbar-item:visited, .navbar-item:active {
  text-decoration: none;
}

.post-item-title, .post-item-title:visited, .post-item-title:active {
  text-decoration: none;
}

.jinja-container {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 40px;
}

.banner {
  padding-bottom: 10px;
}

.banner-img {
  margin-left: auto;
  margin-right: auto;
  height: 110%;
  width: auto;
  border-radius: 50%; 
}

.banner-img-border {
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border-style: solid;
  border-color: var(--coralred);
  display: flex;
  justify-content: center;
}

.banner-icons {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.banner-title {
  font-family: lato;
  text-align: center;
  font-size: 2.5rem;
}

.banner-text {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  font-size: 1.25rem;
  width: 70%;
  color: var(--text-color-fade);
}

.posts-section {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.posts-item {

}

.posts-item-title {
  font-family: lato;
  font-weight: bold;
  font-size: 2rem;
  text-decoration: none;
}

.posts-item-intro {
  font-family: raleway;
  font-size: 1.1rem;
  color: var(--text-color-fade);
}

.content-section {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  font-size: 1.5rem;
}

.title {
  font-family: lato;
  font-size: 3.5rem;
}

.date {
  font-family: lato;
  font-size: 1rem !important;
}

.intro {
  margin-top: 30px;
  font-size: 1.5rem;
}

/* TODO STYLE pokemon_list.html and team-section in index.html*/

/* Responsive */
@media all and (max-width: 800px) {
  body {
    /* color: red; */
    margin: 0px;
  }

  .navbar-container {
    margin-left: 10px;
    margin-right: 10px;
  }

  .jinja-container {
    margin-left: 1px;
    margin-right: 1px;
  }

  .banner-text {
    width: 90%;
  }

  .content-section {
    font-size: 1.1rem;
  }

  .title {
    font-size: 2.25rem;
  }
  
  .date {
    font-size: 1rem;
  }
}