{% extends "base.html" %}


{% block content %}
  <div class="banner">
    <div class="banner-img_border"></div>
    <h1 class="banner-title">Eric Nuzlockes</h1>
    <p class="banner-text">Hey this is my nuzlocke page, you can keep track of all my nuzlocke runs here</p>
  </div>

  <div class="team">
    <h1 class="team-title">Current Team:</h1>
    {% for pokemon in pokemons %}
      <div class="team-box">
        <img class="pokemon-asset" src="{{ pokemon.asset_location }}">
        <p class="team-box-text">{{ pokemon.nickname }}</p>
      </div>
    {% endfor %}
  </div>
{% endblock %}
